    #container {
        max-width: 600px;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;

    }

    button {
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        background-color: #0078d7;
        color: white;
        margin-right: 16px;
        border-radius: 4px;
    }

    #api-result {
        margin-top: 20px;
        white-space: pre-wrap;
        background: #eee;
        padding: 10px;
        border-radius: 4px;
    }